:root {
  --color-primary: #2cabe2;
  --color-secondary: #ff5128;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::selection {
  background-color: #2cabe2;
  color: #fff;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #353535;
  background-color: #fff;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

.shadow {
  box-shadow: 0 0.2rem 0.6rem 0 rgba(128, 128, 136, 0.2) !important;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none !important;
}

@media (min-width: 528px) {
  .hide-ts-up {
    display: none !important;
  }
}

@media (min-width: 864px) {
  .hide-tl-up {
    display: none !important;
  }
}

@media (min-width: 1216px) {
  .hide-ds-up {
    display: none !important;
  }
}

@media (min-width: 1840px) {
  .hide-dl-only {
    display: none !important;
  }
}

@media (max-width: 527.98px) {
  .hide-mb-only {
    display: none !important;
  }
}

@media (max-width: 863.98px) {
  .hide-ts-down {
    display: none !important;
  }
}

@media (max-width: 1215.98px) {
  .hide-tl-down {
    display: none !important;
  }
}

@media (max-width: 1839.98px) {
  .hide-ds-down {
    display: none !important;
  }
}

@media (min-width: 528px) and (max-width: 863.98px) {
  .hide-ts-only {
    display: none !important;
  }
}

@media (min-width: 864px) and (max-width: 1215.98px) {
  .hide-tl-only {
    display: none !important;
  }
}

@media (min-width: 1216px) and (max-width: 1839.98px) {
  .hide-ds-only {
    display: none !important;
  }
}

.container {
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > .col,
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row > .col,
.row > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

@media (min-width: 528px) {
  .container {
    max-width: 53.6rem;
  }
  .col-ts {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .col-ts-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-ts-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-ts-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-ts-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-ts-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-ts-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-ts-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-ts-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-ts-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-ts-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-ts-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-ts-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-ts-1 {
    margin-left: 8.33333%;
  }
  .offset-ts-2 {
    margin-left: 16.66667%;
  }
  .offset-ts-3 {
    margin-left: 25%;
  }
  .offset-ts-4 {
    margin-left: 33.33333%;
  }
  .offset-ts-5 {
    margin-left: 41.66667%;
  }
  .offset-ts-6 {
    margin-left: 50%;
  }
  .offset-ts-7 {
    margin-left: 58.33333%;
  }
  .offset-ts-8 {
    margin-left: 66.66667%;
  }
  .offset-ts-9 {
    margin-left: 75%;
  }
  .offset-ts-10 {
    margin-left: 83.33333%;
  }
  .offset-ts-11 {
    margin-left: 91.66667%;
  }
  .order-ts-0 {
    order: 0;
  }
  .order-ts-1 {
    order: 1;
  }
  .order-ts-2 {
    order: 2;
  }
  .order-ts-3 {
    order: 3;
  }
  .order-ts-4 {
    order: 4;
  }
  .order-ts-5 {
    order: 5;
  }
  .order-ts-6 {
    order: 6;
  }
  .order-ts-7 {
    order: 7;
  }
  .order-ts-8 {
    order: 8;
  }
  .order-ts-9 {
    order: 9;
  }
  .order-ts-10 {
    order: 10;
  }
  .order-ts-11 {
    order: 11;
  }
  .order-ts-12 {
    order: 12;
  }
  .order-ts-first {
    order: -1;
  }
  .order-ts-last {
    order: 13;
  }
}

@media (min-width: 864px) {
  .container {
    max-width: 72rem;
  }
  .col-tl {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .col-tl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-tl-1 {
    margin-left: 8.33333%;
  }
  .offset-tl-2 {
    margin-left: 16.66667%;
  }
  .offset-tl-3 {
    margin-left: 25%;
  }
  .offset-tl-4 {
    margin-left: 33.33333%;
  }
  .offset-tl-5 {
    margin-left: 41.66667%;
  }
  .offset-tl-6 {
    margin-left: 50%;
  }
  .offset-tl-7 {
    margin-left: 58.33333%;
  }
  .offset-tl-8 {
    margin-left: 66.66667%;
  }
  .offset-tl-9 {
    margin-left: 75%;
  }
  .offset-tl-10 {
    margin-left: 83.33333%;
  }
  .offset-tl-11 {
    margin-left: 91.66667%;
  }
  .order-tl-0 {
    order: 0;
  }
  .order-tl-1 {
    order: 1;
  }
  .order-tl-2 {
    order: 2;
  }
  .order-tl-3 {
    order: 3;
  }
  .order-tl-4 {
    order: 4;
  }
  .order-tl-5 {
    order: 5;
  }
  .order-tl-6 {
    order: 6;
  }
  .order-tl-7 {
    order: 7;
  }
  .order-tl-8 {
    order: 8;
  }
  .order-tl-9 {
    order: 9;
  }
  .order-tl-10 {
    order: 10;
  }
  .order-tl-11 {
    order: 11;
  }
  .order-tl-12 {
    order: 12;
  }
  .order-tl-first {
    order: -1;
  }
  .order-tl-last {
    order: 13;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 96rem;
  }
  .col-ds {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .col-ds-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-ds-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-ds-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-ds-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-ds-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-ds-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-ds-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-ds-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-ds-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-ds-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-ds-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-ds-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-ds-1 {
    margin-left: 8.33333%;
  }
  .offset-ds-2 {
    margin-left: 16.66667%;
  }
  .offset-ds-3 {
    margin-left: 25%;
  }
  .offset-ds-4 {
    margin-left: 33.33333%;
  }
  .offset-ds-5 {
    margin-left: 41.66667%;
  }
  .offset-ds-6 {
    margin-left: 50%;
  }
  .offset-ds-7 {
    margin-left: 58.33333%;
  }
  .offset-ds-8 {
    margin-left: 66.66667%;
  }
  .offset-ds-9 {
    margin-left: 75%;
  }
  .offset-ds-10 {
    margin-left: 83.33333%;
  }
  .offset-ds-11 {
    margin-left: 91.66667%;
  }
  .order-ds-0 {
    order: 0;
  }
  .order-ds-1 {
    order: 1;
  }
  .order-ds-2 {
    order: 2;
  }
  .order-ds-3 {
    order: 3;
  }
  .order-ds-4 {
    order: 4;
  }
  .order-ds-5 {
    order: 5;
  }
  .order-ds-6 {
    order: 6;
  }
  .order-ds-7 {
    order: 7;
  }
  .order-ds-8 {
    order: 8;
  }
  .order-ds-9 {
    order: 9;
  }
  .order-ds-10 {
    order: 10;
  }
  .order-ds-11 {
    order: 11;
  }
  .order-ds-12 {
    order: 12;
  }
  .order-ds-first {
    order: -1;
  }
  .order-ds-last {
    order: 13;
  }
}

@media (min-width: 1840px) {
  .container {
    max-width: 114.4rem;
  }
  .col-dl {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .col-dl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-dl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-dl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-dl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-dl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-dl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-dl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-dl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-dl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-dl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-dl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-dl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-dl-1 {
    margin-left: 8.33333%;
  }
  .offset-dl-2 {
    margin-left: 16.66667%;
  }
  .offset-dl-3 {
    margin-left: 25%;
  }
  .offset-dl-4 {
    margin-left: 33.33333%;
  }
  .offset-dl-5 {
    margin-left: 41.66667%;
  }
  .offset-dl-6 {
    margin-left: 50%;
  }
  .offset-dl-7 {
    margin-left: 58.33333%;
  }
  .offset-dl-8 {
    margin-left: 66.66667%;
  }
  .offset-dl-9 {
    margin-left: 75%;
  }
  .offset-dl-10 {
    margin-left: 83.33333%;
  }
  .offset-dl-11 {
    margin-left: 91.66667%;
  }
  .order-dl-0 {
    order: 0;
  }
  .order-dl-1 {
    order: 1;
  }
  .order-dl-2 {
    order: 2;
  }
  .order-dl-3 {
    order: 3;
  }
  .order-dl-4 {
    order: 4;
  }
  .order-dl-5 {
    order: 5;
  }
  .order-dl-6 {
    order: 6;
  }
  .order-dl-7 {
    order: 7;
  }
  .order-dl-8 {
    order: 8;
  }
  .order-dl-9 {
    order: 9;
  }
  .order-dl-10 {
    order: 10;
  }
  .order-dl-11 {
    order: 11;
  }
  .order-dl-12 {
    order: 12;
  }
  .order-dl-first {
    order: -1;
  }
  .order-dl-last {
    order: 13;
  }
}
