@import url($font-source);

:root {
    --color-primary: $color-primary;
    --color-secondary: $color-secondary;
}

* {
    outline: 0 !important;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

a {
    text-decoration: none;
}

::selection {
    background-color: $color-primary;
    color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: $font-family;
    font-size: $font-body;
    font-weight: $fw-normal;
    line-height: $lh-base;
    color: $color-base;
    background-color: $color-bg;
}

h {
    &1 {
        font-size: 60px;
    }
    &2 {
        font-size: 48px;
    }
    &3 {
        font-size: 32px;
    }
    &4 {
        font-size: 24px;
    }
    &5 {
        font-size: 20px;
    }
    &6 {
        font-size: 18px;
    }
}