:root {
    --color-primary: $color-primary;
}

* {
    margin: 0;
    padding: 0;
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

::selection {
    background-color: $color-primary;
    color: #fff;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: $font-family;
    font-size: $font-body;
    font-weight: $fw-normal;
    line-height: $lh-base;
    color: $color-base;
    background-color: $color-bg;
}

h {
    &1 {
        font-size: 6rem;
    }
    &2 {
        font-size: 4.8rem;
    }
    &3 {
        font-size: 3.2rem;
    }
    &4 {
        font-size: 2.4rem;
    }
    &5 {
        font-size: 2rem;
    }
    &6 {
        font-size: 1.8rem;
    }
}