::selection {
    background-color: #00ff;
    color: #fff;
}

html {
    font-size: $fontBase;
}

body {
    margin: 0;
    font-family: $fontFamily;
    font-size: $fontBody;
    font-weight: $fwNormal;
    line-height: $lhBase;
    color: $colorBase;
    background-color: $colorBg;
}