.shadow {
    box-shadow: $shadow !important;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide {
    display: none !important;
}

// Show Hide Display
@include device(ts) {
    .hide-ts-up {
        display: none !important;
    }
}

@include device(tl) {
    .hide-tl-up {
        display: none !important;
    }
}

@include device(ds) {
    .hide-ds-up {
        display: none !important;
    }
}

@include device(dl) {
    .hide-dl-only {
        display: none !important;
    }
}

@include device(down-ts) {
    .hide-mb-only {
        display: none !important;
    }
}

@include device(down-tl) {
    .hide-ts-down {
        display: none !important;
    }
}

@include device(down-ds) {
    .hide-tl-down {
        display: none !important;
    }
}

@include device(down-dl) {
    .hide-ds-down {
        display: none !important;
    }
}

// 

.box {
    padding: 1.6rem 2.4rem;
    box-shadow: $shadow;
    margin-bottom: 3.2rem;
    text-align: center;
    background-color: mix(#fff, $color-primary, 20%);
    color: #fff;
}