$font-family:'Open Sans', sans-serif;
$font-base: 10px;
$font-body: 1.4rem;

$fw-normal: 400;
$fw-bold: 700;

$lh-base: 1.5;

$color-bg:#fff;
$color-base:#353535;
$color-primary:#168abf;

$shadow: 0 .2rem .6rem 0 rgba(128, 128, 136, 0.2);